@model Common.ViewModel.Role.RoleVM
@using Entity.Tools

@{
    var Roles = new List<Permision> { Permision.none, Permision.r, Permision.rw, Permision.rwx, Permision.rx, Permision.w, Permision.wx, Permision.x };
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>RoleVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden="hidden">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">نوع مجوز</label>
                <select name="Permision" id="Permision" class="form-control">
                    @{
                        foreach (var item in Roles)
                        {
                            if (Model.Permision == item)
                            {
                                <option value="@item" selected="selected">@item</option>

                            }
                            else
                            {
                                <option value="@item">@item</option>

                            }
                        }
                    }
                </select>

                <span asp-validation-for="Permision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
